@use '../../styles/variables' as vars;

.bar {
    background: vars.$background;
    border-bottom: 1px solid vars.$border-subtle;
}

.content {
    display: flex;
    align-items: center;
    block-size: 2.5rem;
}
